body{
	background-image: url("fondo.jpg");
	padding-left: 250px;
	padding-top: 100px;
	height: 1500px;
}
#contenedor{
	background-color: #DDBFA7;
	border-color: #E1C8A9 solid 2px;
	height: 150px;
	width: 50%;
}
h1{
	color:#5C321A;
}
select{
	background-color: #5C321A;
	color: white;
	border-radius: 5px;
	height: 35px;
	width: 130px;
	
}
#textareaTexto{
	width: 100%;
}

#divPub{
	background-color: red;
}